
.grid-container {
        margin: 0px 16px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(4, 1fr);
    }



@media (width >= 48rem) {
    .grid-container {
    margin: 0px 42px;
    display:grid;
    gap: 7px;
    grid-template-columns: repeat(12, 1fr)
}
}



